/*

******** Typography system *********

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Fonts used 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;

- Font weight
Default: 400
Lato: 300, 400, 700
Montserrat: 300, 400, 700

- Line Height
Default: 1

******** Colors  ******************
- Primary: #FEBF23
- Secondary: #FFD6EF
- Tints: 
- Shades: 
- Accents: 
- Grays: #555 #222



******** Spacing system  ******************
- Spaces (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


Used websites: https://maketintsandshades.com/ (generate tint and shade)
  https://yeun.github.io/open-color/ (tints of predefined colors - useful for fonts and buttons)
  https://coolors.co/ (check contrast) 
  https://heroicons.com/ (icons)
  https://fontjoy.com/ (font pairings)
  https://www.shapedivider.app/ (wave generator)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  /* setting the font size to 10 px */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #555;
}

ul {
  list-style: none;
}

/* ------  Reusable components ---------- */

.container-xl {
  /* min-width: 1400px; */
  margin: 0 auto;
}

.container-l {
  min-width: 1200px;
  margin: 0 auto;
  max-width: 80vw;
  padding: 0 2rem;
}

section {
  margin-bottom: 10rem !important;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 400;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

.half-split-grid {
  display: grid;
  padding: 10rem 0;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.padding-right-m {
  padding-right: 20 !important;
}

.padding-top-m {
  padding-top: 2rem !important;
}

.padding-top-xl {
  padding-top: 10rem !important;
}

.padding-bot-xl {
  padding-bottom: 10rem !important;
}

.margin-right-m {
  margin-right: 20 !important;
}

.inline-flex {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 1rem !important;
}

.button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in,
    font-size 2s ease-in 2s;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in,
    font-size 2s ease-in 2s;
  -moz-transition: color 0.3s ease-in, background-color 0.3s ease-in,
    font-size 2s ease-in 2s;
  -ms-transition: color 0.3s ease-in, background-color 0.3s ease-in,
    font-size 2s ease-in 2s;
  -o-transition: color 0.3s ease-in, background-color 0.3s ease-in,
    font-size 2s ease-in 2s;
}

.btn-main:hover {
  background-color: #000;
  color: #febf23;
  font-size: 120%;
}

.btn-main {
  background-color: #febf23;
  border: solid 2px #000;
}

.btn-alt {
  background-color: #000;
  color: #febf23;
}

.btn-alt:hover {
  background-color: #febf23;
  color: #000;
  border: solid 2px #000;
  font-size: 120%;
}

.hover-zoom {
  transition: font-size 2s ease-in 2s;
  -webkit-transition: font-size 2s ease-in 2s;
  -moz-transition: font-size 2s ease-in 2s;
  -ms-transition: font-size 2s ease-in 2s;
  -o-transition: font-size 2s ease-in 2s;
}

.hover-zoom:hover {
  font-size: 110%;
}

/* ------  Header ---------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6em;
}

.logo {
  height: 4rem;
  margin-left: 3rem;
}

.icon {
  width: 2rem;
  transition: color 1s 0.3s;
  -webkit-transition: color 1s 0.3s;
  -moz-transition: color 1s 0.3s;
  -ms-transition: color 1s 0.3s;
  -o-transition: color 1s 0.3s;
}

.icon:hover {
  color: #febf23;
}

.nav-items {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.nav-items li:last-child {
  margin-right: 3rem;
}

.nav-active {
  padding-bottom: 0.5em;
  border-bottom: solid 2px #febf23;
  transform: scale(0.5%);
  -webkit-transform: scale(0.5%);
  -moz-transform: scale(0.5%);
  -ms-transform: scale(0.5%);
  -o-transform: scale(0.5%);
}

/* ------  Hero Section ---------- */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  /* height: 70vh; */
}

.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.hero-img {
  height: 30rem;
}

.hero-icons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.icon-text-container {
  display: flex;
  gap: 1rem;
}

.hero-contents p {
  line-height: 1.6;
}

.icon-text-container p {
  font-size: 0.8rem;
}

/* ------  Filler component ---------- */
.custom-shape-divider-bottom-1699315946 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1699315946 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-bottom-1699315946 .shape-fill {
  fill: #febf23;
}

.filler-container {
  background-color: #febf23;
}

.filler-main {
  color: #222;
}

.filler-secondary {
  line-height: 1.8;
  color: #222;
}

/* ------  Offers ---------- */
.offers-h2-description {
  width: 35rem;
  line-height: 1.8;
  padding: 2rem 0 4rem 0;
}

.image-offers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}

.image-text-offer-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.offer-img {
  width: 15rem;
  border: #000 2px solid;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.image-text-offer-box p {
  line-height: 1.6;
}

.offers h3 {
  text-transform: capitalize;
}

/* ------  Partners ---------- */
.custom-shape-divider-bottom-1699823544 {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699823544 svg {
  /* position: relative; */
  display: block;
  width: calc(148% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1699823544 .shape-fill {
  fill: #FFD6EF;
}

.partner-container {
  background-color: #FFD6EF;
}

.partner-container p {
  width: 35rem;
  line-height: 1.8;
  padding: 2rem 0 4rem 0;
}

.partners-grid {
  display: grid;
  grid-template: 1fr 1fr/ repeat(4, 1fr);
  row-gap: 3rem;
}

.partner-grid-items {
  justify-self: center;
}

.partners img {
  width: 10rem;
  height: 10rem;
}

/* ------  Reusable components ---------- */